<html>
    <head>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
    <div id="form-container">
        <div id="form-container">
            <form method="post" action="/registeration">
             <h1 align="center"><u>Register Now</u></h1>
             <input type="text" name="name"  placeholder="name..."/>
             <input type="email" name="email" placeholder="email..."/>
             <input type="password" name="password" placeholder="password..."/>
             <button type="submit" id="button">Submit</button>
            </form>
         </div>
    </div>
    </body>
</html>